.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.info button {
  border: 1px solid #555;
}
